@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-bg-image {
  background-image: url("../../public/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.auth-bg {
  background-image: url("../../public/bg-auth.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mine-bg {
  background-image: url("../../public/mine-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.use-s-bg {
  background-image: url("../../public/use-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-history-img {
  background-image: url("../../public/bg-history.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-friend-img {
  background-image: url("../../public/friend-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.h-1-8 {
  height: 10%;
}

.h-6-8 {
  height: 80%;
}

/* width */
.sc::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.sc::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.sc::-webkit-scrollbar-thumb {
  background: #50505000;
  border-radius: 5px;
}

/* Handle on hover */
.sc::-webkit-scrollbar-thumb:hover {
  background: #55555500;
}

.fadeInOuteTag {
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.typing {
  border-right: 0.1em solid white;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) {
  .main-bg-image {
    background-image: url("../../public/long-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}
